<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="infobase_customeraccess" id="infobase_customeraccess">
			<module before="Magento_Backend" name="Infobase_CustomerAccess"/>
		</route>
	</router>
</config>
